.mat-card-live {
    padding: 15px 0% 0% 0%;
    border-radius: 4px 3px 6px / 2px 4px;
    border: 1px solid #cfd8dc;
    margin: 5px;
}

.mat-card-title-live {
    padding: 0px 15px 0px 10px;
    min-height: 70px;
}

.mat-chip-date {
    background-color: #90CAF9;
    color: black;
}